.Headcntnt{
    margin-top: 0%;
    height: 30px;
    width: 100vw;
    background-color: aqua;
    text-align: center;
    color: aliceblue;
}
.Headcntnt1{
    margin-top: 0%;
    height: 30px;
    width: 100%;
    background-color:blueviolet;
    text-align: center;
    color: aliceblue;
}